services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: dungeonmapster
      POSTGRES_USER: dungeonmapster
      POSTGRES_PASSWORD: dungeonmapster
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: